.candidate-dashboard .active-postes {
    flex-basis: 32%;
    margin-top: 30px;
}
.active-postes .post-card {
    margin-top: 10px;
    padding: 20px;
    transition: all 100ms ease-in-out;
}
.post-card:hover {
    box-shadow: 0 0 5px 2px #2d2f8386;
    transform: scale(1.02);
}
.candidate-dashboard .apply-section {
    border-top: 1px solid rgba(128, 128, 128, 0.418);
}
.apply-section .blue {
    flex-basis: 50%;
    border-right: 1px solid rgba(128, 128, 128, 0.418);
}
.apply-section .pink {
    flex-basis: 50%;
}
