.candidate-dashboard .active-postes {
    flex-basis: 32%;
    margin-top: 30px;
}
.active-postes .post-card {
    margin-top: 10px;
    padding: 20px;
}
.candidate-dashboard .apply-section {
    border-top: 1px solid rgba(128, 128, 128, 0.418);
}
.apply-section .blue {
    flex-basis: 50%;
    border-right: 1px solid rgba(128, 128, 128, 0.418);
}
.apply-section .pink {
    flex-basis: 50%;
}
