.entreprise-page {
    width: 85%;
    margin: auto;
    transform: translateY(-100px);
    /* animation: fade-in 600ms ease-in-out; */
}
.entreprise-title .logo-div {
    background-color: white;
    padding: 20px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}
.entreprise-title .logo {
    width: 8rem;
}
.entreprise-title .title {
    color: white;
}
.missions {
    margin-top: 70px;
}
.missions .mission {
    color: #ff068f;
    background-color: #e6007f10;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 10px;
}
.entreprise-description {
    margin-top: 20px;
}
.entreprise-description .description {
    flex-basis: 23%;
}
.entreprise-description .card {
    margin: 20px 0;
    padding: 20px;
}
.figures {
    flex-basis: auto;
}
.figures .numbers {
    /* flex-basis: 50%; */
    align-items: flex-end;
}
.figures .titles {
    /* flex-basis: 50%; */
    padding-left: 30px;
    justify-content: space-around;
    border-left: 1px solid rgba(128, 128, 128, 0.473);
}
.figures .number {
    font-size: 1.7rem;
    font-weight: 500;
    padding-right: 20px;
    flex-basis: 50%;
    text-align: center;
}
.vl {
    position: absolute;
    left: 8%;
    border-left: 1px solid rgba(128, 128, 128, 0.521);
    height: 21%;
}
.figure .title {
    padding: 8px 30px 0 0;
    margin-left: 20px;
    font-weight: 100;
    flex-basis: 50%;
}
.entreprise-page .media {
    display: inline-grid;
    margin-left: 20px;
    width: 100%;
    grid-template-columns: 3;
    gap: 10px;
    grid-template-rows: 6;
}
.media .img1 {
    grid-column: 1;
    grid-row: 1;
}
.media .img2 {
    grid-column: 2;
    grid-row: 1;
}
.media .img3 {
    grid-column: 3;
    grid-row: 1;
}
.media .img4 {
    grid-column: 1;
    grid-row: 3;
}
.media .img5 {
    grid-column: 2;
    grid-row: 3;
}
.media .img6 {
    grid-column: 3;
    grid-row: 3;
}
.media .img7 {
    grid-column: 1;
    grid-row: 4;
}
.media .img8 {
    grid-column: 2;
    grid-row: 4;
}
.media .img9 {
    grid-column: 3;
    grid-row: 4;
}
.media .img10 {
    grid-column: 1;
    grid-row: 5;
}
.media .img11 {
    grid-column: 2;
    grid-row: 5;
}
.media .img12 {
    grid-column: 3;
    grid-row: 5;
}
