.navbar {
    display: flex;
    height: 10vh;
    width: 100%;
    /* justify-items: space-evenly; */
    align-items: center;
    background-color: white;
}
.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-decoration: none;
}
.logo {
    width: 40px;
    height: auto;
    padding: 10px;
}
.nav-peak {
    font-size: 1.5rem;
    font-weight: 10;
    margin-right: 5px;
    font-family: "Open Sans", sans-serif;
}
.nav-people {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.nav-links {
    flex-basis: 50%;
}
.nav-profile {
    display: flex;
    flex-basis: 15%;
    justify-content: space-evenly;
    align-items: center;
}
.nav-profile .nav-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    color: white;
    background-color: rgb(127, 187, 167);
    border-radius: 50%;
    cursor: pointer;
}
.nav-profile .nav-name {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
}
