.jobs-page {
    display: flex;
    flex-direction: column;
    width: 85%;
    min-height: 70vh;
    margin: 100px auto;
}
.jobs-page .header {
    margin-bottom: 30px;
    padding: 5px;
}
.header .title {
    font-size: 1.5rem;
    font-weight: 700;
}
.header .filter-options {
    flex-basis: 25%;
    justify-content: space-between;
}
