.candidature-profile {
    /* width: ; */
    height: 100px;
    margin: 20px 0px;
    padding: 5px;
    background-color: #e6007f10;
    border: 1px solid #2d2e83;
    border-radius: 10px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
}
.candidature-profile:hover {
    transform: scale(1.02);
}
.candidature-profile .logo {
    flex-basis: 20%;
    justify-content: center;
}
.candidature-profile .name {
    margin: 5px;
    font-size: 0.9rem;
    font-weight: 500;
}
.candidature-profile .date {
    font-size: 0.9rem;
}
