.drop-down-links {
    position: absolute;
    /* width: 10%; */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transform-origin: top;
    transition: all 100ms linear;
}
.hidden {
    transform: rotateX(90deg);
}

.drop-down-link {
    color: black;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 100ms linear;
    cursor: pointer;
    border-bottom: 1px solid rgba(128, 128, 128, 0.212);
    background-color: white;
}
