.event-box {
    min-height: 25px;
    margin: 0 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 50ms linear;
}
.double-event-box {
    min-height: 50px;
}
.event-box:hover {
    transform: scale(1.1);
}
.colored {
    background-color: #2d2e83;
    color: white;
}
.event-box .event-title {
    text-overflow: clip;
    padding: 5px;
}
