.App {
    /* display: flex;
    flex-direction: column; */
    /* height: 100vh; */
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    overflow-y: hidden;
}

.blue {
    color: #2d2e83;
}
.purple {
    color: #5b0089;
}
.pink {
    color: #e6007e;
}
.grey {
    color: rgba(128, 128, 128, 0.838);
}
.pink-button {
    background-color: #e6007e;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    transition: all 100ms linear;
}
.pink-button:hover {
    background-color: #c90370;
}
.link {
    text-decoration: none;
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}
.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.justify-evenly {
    justify-content: space-evenly;
}
.align-end {
    align-items: flex-end;
}
.align-center {
    align-items: center;
}
.align-self-end {
    align-self: flex-end;
}
.text-center {
    text-align: center;
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 5px 10px;
}
.error-message {
    color: red;
    font-size: 0.9rem;

    text-decoration: underline;
}
.icon {
    cursor: pointer;
    margin: 0 5px;
}
.bg-white {
    background-color: white;
}
.border-rounded {
    border-radius: 10px;
}
.nav-icon {
    background-color: #5b008921;
    padding: 5px 8px;
    margin: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.437);
}
.modal-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: white;
    width: 50vh;
    height: 20vh;
    font-size: 2rem;
    font-weight: 900;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.521);
}
.light-font {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
@keyframes fade-in {
    from {
        transform: translate(0, 20%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0%);
        opacity: 1;
    }
}
@keyframes fade-in-linear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Customizing scroll bar */

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar:hover {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.514);
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
