.alerts-page {
    min-height: 70vh;
    width: 85%;
    margin: 100px auto;
    border-radius: 10px;
}
.alerts-page .alerts {
    padding: 20px 0;
    animation: fade-in 600ms ease-in-out;
}
.alerts-page .title,
.alerts-page .scoring {
    flex-basis: 20%;
}
.alerts-page .last-send,
.number-of-send,
.ways-of-send,
.actions {
    flex-basis: 12%;
    text-align: center;
}
.alerts-page .alert-box {
    padding: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
    margin: 10px;
}
.alert-box .title {
    flex-basis: 15%;
}
.alerts-page .buttons {
    margin: 20px 0;
    justify-content: flex-end;
}
