.learning-page {
    width: 85%;
    min-height: 72vh;
    margin: 100px auto;
}
.learning-page .search {
    flex-basis: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}
