.suivi-candidate-page {
    width: 85%;
    min-height: 72vh;
    margin: 100px auto;
}
.suivi-candidate-page .sector-input {
    padding: 10px;
    border-radius: 10px;
    width: 30%;
}
.suivi-candidate-page .candidatures {
    margin-top: 50px;
    padding: 25px;
    overflow-x: scroll;
}
.suivi-candidate-page .candidatures .candidature {
    overflow-x: hidden;
}
.suivi-candidate-page .candidatures .box {
    width: 250px;
}
.suivi-candidate-page .candidatures .title {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 10px 0;
}
.suivi-candidate-page .candidatures .candidature {
    padding: 10px 0;
    border-bottom: 1px solid grey;
}
.suivi-candidate-page .candidatures .candidature .pink-button {
    padding: 10px 20px;
    font-size: 0.8rem;
}
.suivi-candidate-page > .pink-button {
    width: 10%;
    margin-top: 10px;
    align-self: flex-end;
}
.details-modal {
    /* padding: 10px; */
    height: 100%;
}
.details-modal .section {
    margin: 10px 0;
}
