.suivi-candidate-page {
    width: 85%;
    min-height: 72vh;
    margin: 100px auto;
}
.suivi-candidate-page .candidatures {
    margin-top: 50px;
}
.suivi-candidate-page .candidatures .candidature {
    margin: 20px;
    justify-content: center;
}
.suivi-candidate-page .candidatures .candidature .logo {
    flex-basis: 9%;
    border: 1px solid rgba(128, 128, 128, 0.336);
    margin: 10px 30px;
    padding: 20px;
}
.suivi-candidate-page .candidatures .candidature .image {
    width: 100%;
}
.suivi-candidate-page .candidatures .candidature .credentials {
    flex-basis: 50%;
    border: 1px solid rgba(128, 128, 128, 0.336);
    margin: 10px 30px;
    padding: 20px;
}
.suivi-candidate-page .candidature .credentials .job-title {
    font-size: 1.3rem;
    font-weight: 700;
}
.suivi-candidate-page .candidature .credentials .candidate-name {
    font-size: 1.1rem;
    font-weight: 500;
}
.suivi-candidate-page .candidatures .candidature .credentials .pink-button {
    width: 15%;
    padding: 10px 20px;
    align-self: flex-end;
}
.suivi-candidate-page .retour-input {
    padding: 10px;
    border: none;
    border-radius: 12px;
    resize: none;
    outline: none;
    font-size: 1.1rem;
}

.suivi-candidate-page > .pink-button {
    width: 10%;
    margin-top: 10px;
    align-self: flex-end;
}
